.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  z-index: 9999 !important;
  /* overflow: hidden; */

  /* overflow-x: scroll; */

  /* padding-bottom: 70%; */
}

.popupCard {
  background-image: url("../assets/bluebackground.webp");
  width: 964px;
  height: 472px;
  border-radius: 24px;
  position: relative;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.5s ease-out forwards;
  /* padding-bottom: 5%;
    margin-bottom: 20%; */
}

.brandingText h1 {
  /* font-size: 4rem !important; */
  font-family: "Instrument Serif", serif !important;
  font-size: 88px;
  /* font-style: italic; */
  text-align: left;
  font-weight: 100;
  font-style: italic;
}
.brandingText p {
  font-size: 30px !important;
  font-weight: 700 !important;
  font-family: "Inter", sans-serif;
  text-align: left;
}

.cardContent {
  display: flex;
}

.closeBtn {
  position: absolute;
  top: -40px;
  right: -20px;
  background: #009b9b;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Left Section */
.leftSection {
  flex: 1.2;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 40px;
}

.italicTitle {
  /* font-family: 'Playfair Display', serif;  */
  /* font-style: italic; */
  color: white;
  margin: 0;
  line-height: 1;
  font-family: "Instrument Serif", serif !important;
}

.subTitle {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

/* Right Section */
.rightSection {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputGroup {
  margin-bottom: 20px;
  min-width: 268px;
  /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
    background-color: #009b9b; */
}

.inputGroup label {
  display: block;
  color: white;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

.inputGroup input {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 12px 15px;
  border-radius: 8px;
  color: white;
  outline: none;
}

.inputGroup input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Book A Call Button */
.bookBtn {
  background: white;
  color: black;
  width: 280px;
  height: 56px;
  padding: 15px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.rightSection form {
  width: 280px;
  height: 308px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .popupCard {
    width: 640px;
    height: 364px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .brandingText h1 {
    font-size: 56px !important;
  }
  .brandingText p {
    font-size: 0.9rem !important;
  }
  .rightSection form {
    width: 268px;
    height: 212px;
  }
  .leftSection {
    width: 268px;
    height: 212px;
  }
  .bookBtn {
    position: relative;
    right: 50%;
    width: 218px;
    height: 56px;
  }
}

@media screen and (max-width: 786px) {
  .popupCard {
    width: 300px;
    height: 584px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .cardContent {
    flex-direction: column;
    gap: 6vh;
  }
  .leftSection {
    width: 260px;
    height: 212px;
    padding: 2px;
  }
  .rightSection {
    width: 260px;
    height: 204px;
    padding: 2px;
  }
  .brandingText h1 {
    font-size: 55px !important;
    line-height: 100%;
  }
  .brandingText p {
    font-size: 0.9rem !important;
  }
  .inputGroup {
    height: 55px;
  }
  .closeBtn {
    width: 40px;
    height: 40px;
  }
  .overlay{
 padding: auto;
  }
}
