.imageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 200px; */
  width: 218px;
  min-height: 255px;
  /* background-color: aquamarine; */
}

.image {
  position: relative;
  width: 218px;
  height: 207px;
  cursor: pointer;
}

.backImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0%;
  transition:
    transform 0.8s ease-in-out,
    border-radius 0.6s ease;
}

.frontImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  object-fit: contain;
  z-index: 2;
  transition: transform 0.5s ease-in-out;
  /* pointer-events: none; */
}

/* Hover Effects */
.image:hover .backImage {
  transform: rotate(-180deg) scale(1.1) !important;
  border-radius: 50%;
}

.image:hover .frontImage {
  transform: scale(1.1) translateY(10px);
}

.description {
  margin-top: 15px;
  text-align: center;
  font-size: var( --circle-text);
  line-height: var(--circle-line-height);
  font-weight: 400;
  color: #16161680;
  font-family: "Instrument Sans", sans-serif;
 
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .imageBox {
    width: 168px;
    min-height: 180px;
  }

  .image {
    width: 148px;
    height: 150px;
  }

  .image:hover .frontImage {
    transform: scale(1.1) translateY(5px);
  }

  .description {
    /* font-size: 0.8rem; */
    margin-top: 10px;
  }
}

@media screen and (min-width: 250px) and (max-width: 786px) {
  .imageBox {
    width: 131px;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .image:hover .frontImage {
    transform: scale(1.1) translateY(5px);
  }

  .description {
    /* font-size: 0.7rem; */
    margin-top: 10px;
  }
}
