.Navmain {
  /* height: 119px; */
  max-height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  /* padding-left: 5%;
    padding-right: 5%; */
  padding: 16px 60px 16px 60px;
  position: sticky;
  top: 0px;
  z-index: 10;
}
.button {
  background-color: rgb(222, 148, 51);
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
}

.logo2 {
  display: none; /* Pehle dusra logo chhupa rahe hain */
}

.logo1 {
  display: block;
  width: 220px;
  height: auto;
}

/* .logo1{
    
    width: 300px;
    height: 59px;
} */

.button {
  gap: 8px;
  cursor: pointer;
}

.arrowBox {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
}

.arrow {
  position: absolute;
  left: 0;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  fill: white;
}

.arrow:first-child {
  transform: translate(0, 0);
}

.arrow:last-child {
  transform: translate(-10px, 20px);
  opacity: 0;
}

.button:hover .arrow:first-child {
  transform: translate(10px, -20px);
  opacity: 0;
}

.button:hover .arrow:last-child {
  transform: translate(0, 0);
  opacity: 1;
}
.mobileOnly {
  display: none;
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .Navmain {
    /* padding-left: 1%; */
    padding: 16px 60px 16px 60px;
    /* background-color: antiquewhite; */
    height: 80px;
    box-sizing: border-box;
    gap: 20%;
  }
  .mobileOnly {
    display: none !important;
  }
  .desktopOnly {
    display: block !important;
  }

  .logo1 {
    display: block !important;
    width: clamp(180px, 22vw, 220px) !important;
    height: auto !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 786px) {
  .Navmain {
    /* width: calc(360px - 10%); */
    /* padding: 5%; */
    height: 80px;
    /* background-color: aqua; */
    padding: 14px 30px 14px 30px;
  }

  .desktopOnly {
    display: none !important;
  }

  .mobileOnly {
    display: block !important;
  }

  .mobileOnly .button {
    width: 110px;
    height: 35px;
    font-size: 0.8rem;
  }

  .mobileOnly .arrowBox {
    width: 14px;
    height: 14px;
  }
  .logo1 {
    display: none !important; /* Pehla logo gayab */
  }

  .logo2 {
    display: block !important;
    width: 48px !important;
    height: 48px;
  }

  .desktopOnly {
    display: none !important;
  }
  .mobileOnly {
    display: block !important;
  }

  .navLogo {
  }
}
