/* sty_dis.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 40px 20px; */
  padding-left: 240px;
  padding-right: 240px;
  padding-top: 60px;
  padding-bottom: 80px;
    gap: 48px;
  background-color: #FFFFFF;
  height: auto;
  font-family: 'Inter', sans-serif;

}

.header  h1{
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #333;
  margin-bottom: 40px;
  text-align: center;
}
.header p{
  text-align: center;
  display: none;
  font-size: var(--font-size-subheading);
  color: #15929A;
  letter-spacing: 16%   ;
  line-height: 145%;
}

.content {
  max-width: 800px;
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  flex-direction: column;
}

.point {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 15px;
  flex-shrink: 0;
  margin-top: 2px;
}

.text {
  /* flex: 1; */
  font-size: 16px; 
  color: gray;
  line-height: 24px;
}

@media screen and (min-width: 250px) and (max-width: 786px) {
    .text{
          font-size: 12px;
          line-height: 20px;
    }
  .header h1{
    font-size: 40px;
  }
  .header p{
    display: block !important;
  }
  
  .container {
     padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 24px !important;
  padding-bottom: 48px !important;
  gap: 24px;
  }
  
  .list li {
    font-size: 16px;
    margin-bottom: 25px;
  }
  
  .point {
    /* font-size: 12px; */
    margin-right: 12px;
  }
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
    .text{
          line-height: 20px;
        
    }
   .header h1{
    font-size: 40px;
  }
  .header p{
    display: block !important;
  }
  .container {
    padding-left: 60px !important;
  padding-right: 60px !important;
  padding-top: 40px !important;
  padding-bottom: 60px !important;
  gap: 40px;
  }
}
