.arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5vh;
    right: 10%; 
    z-index: 2;
  }

.arrow:hover{
    background-color: white;
    border: none;
}  

.card {
  /* background-color: white; */
  background-image: url("../assets/card.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 350px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  padding: 8px;
  /* border: 1px solid gray; */
  transition: all 0.3s ease;  
}

.top {
  width: 100%;
  height: 30%;
  position: relative;

  border-radius: 20px;
  top: -1vh;
  transition: background 0.5s ease, transform 0.4s ease;  
}

.top_part {
  position: absolute;
  top: 5vh;
  left: 5%;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);  /* सिर्फ ये add */
}

.top_part img {
  width: 80px;
  height: 80px;
  transition: all 0.4s ease-out; 
}

.top_part h2 {
  /* font-size: 1.3rem; */
  font-size: 18px;
  line-height: 24px;
  font-family: "Instrument Sans", sans-serif;
  transition: font-size 0.3s ease; 
}

.button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  bottom: 5vh;
  right: 3%;
  transition: all 0.3s ease;  /* सिर्फ ये add */
}

.card_main {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  /* border: 1px solid gray; */
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 65%;
  transform: rotate(-2deg);
  background-image: url("../assets/bottomImg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  bottom: -46%;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.box::before {

}

.bottom ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 10%;
  color: transparent;
  transition: color 0.3s ease;  
   font-family: "Instrument Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
}


.card:hover .bottom {
  bottom: 0;
  padding-top: 2%;
  transform: rotate(-2deg);
}
.card:hover .bottom ul {
  color: #4D4D4D;
    
}

.card:hover .top {
  background-image: url("../assets/topImg.svg");
  background-repeat: no-repeat;
  background-size: cover;     
  background-position: center;
  /* height: 30%; */
  width: 100%;     
    transform: rotate(-2deg);           
}

.card:hover .top_part {
  top: 1vh;
  left: 1%;
  padding: 10px;
}

.card:hover .top_part img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
}

.card:hover .top_part h2 {
  font-size: 1.2rem;
}



@media screen and (min-width: 786px) and (max-width: 1024px) {
  .card {
    width: 210px; 
    height: 420px;
    /* margin: 15px auto; */
  }


  .top {
    padding-bottom: 7px;
    /* height: 18vh; */
    height: 28%;
    top: -0.5vh;
  }

  .bottom {
    padding-top: 12px;
    height: 67% ;
    /* background-color: #4D4D4D; */
  bottom: -48%; 
  border-radius: 15px; 

  }

  .top_part img {
    width: 64px;
    height: 64px;
  }

  .top_part h2 {
    font-size: 1.15rem;
  }

  .bottom ul {
    padding-left: 12%;
    line-height: 22px;
    font-size: 0.85rem;
  }

  .arrow {
    width: 38px;
    height: 38px;
    right: 8%;
    bottom: 4vh;
  }

  .card:hover .top_part {
    top: 2vh;
    left: 2%;
  }

     .card:hover .top{
       transform: rotate(0deg);  

   }
    .card:hover .bottom{
       /* transform: rotate(0deg);   */

   }
}




@media screen and (max-width: 786px) {
  .card {
    width: 280px; 
    height: 420px; 
    margin: 10px auto;
  }
.top {
  padding-bottom: 10px;
    height: 30%;
    top: -1vh;
    transition: background 0.5s ease, transform 0.4s ease;
   /* transform: rotate(0deg);   */

  }
  .top h1{
    font-size: 18px;
  }
  .bottom {
    padding-top: 10px;
    transform: rotate(0deg);
    position: absolute;
    bottom: -50%;
    height: 73%;
    border-radius: 20px !important;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .bottom ul {
    color: transparent;
    transition: color 0.3s ease;
  }

  .card:hover .bottom {
    bottom: 0vh; 
  }

  .card:hover .bottom ul {
    color: gray !important; 
  }

  

  .top_part {
    top: 5vh;
    left: 5%;
    transition: all 0.4s ease;
  }

  .card:hover .top_part {
    top: 1vh;
    left: 1%;
  }

  .card:hover .top_part img {
    width: 40px;
    height: 40px;
  }
   .card:hover .top{
       transform: rotate(0deg);  

   }
    .card:hover .bottom{
       transform: rotate(0deg);  

   }

  .arrow {
    width: 35px;
    height: 35px;
  }
}